@font-face {
  font-family: "iconfont"; /* Project id 2812883 */
  src: url('iconfont.woff2?t=1631622587399') format('woff2'),
       url('iconfont.woff?t=1631622587399') format('woff'),
       url('iconfont.ttf?t=1631622587399') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-down:before {
  content: "\e665";
}

.icon-ashbin:before {
  content: "\e666";
}

.icon-bottom:before {
  content: "\e667";
}

