<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>基本列表</title>
    <script src="../js/vue.js"></script>
</head>
<body>
    <!--  
        v-for指令
            1. 用于展示列表数据
            2. 语法:
                v-for = "(item, index) in xxx" :key="yyy"
            3. 可遍历:数组,对象,字符串(用的很少),指定次数(用的很少)

    -->

    <div id="root">
        <!-- 遍历数组 -->
        <h2>人员列表</h2>
        <ul>
            <!-- 可以使用for in，也可以使用for of -->
            <!-- for in遍历对象，for of 或 forEach 遍历数组 -->
            <li v-for="(p, index) in persons" :key="index">
                {{p.name}}---{{p.age}}
            </li>
        </ul>

        <!-- 遍历对象 -->
        <h2>汽车列表</h2>
        <ul>
            <li v-for="(value, key) in cars" :key="key">
                {{key}}: {{value}}
            </li>
        </ul>

        <!-- 遍历字符串(用的少) -->
        <h2>测试遍历字符串</h2>
        <ul>
            <li v-for="(value, key) in str" :key="key">
                {{key}}: {{value}}
            </li>
        </ul>

        <!-- 遍历次数(用的少) -->
        <h2>测试遍历次数</h2>
        <ul>
            <li v-for="(number, index) in 5" :key="index">
                {{index}}: {{number}}
            </li>
        </ul>

    </div>
    <script>
        Vue.config.productionTip = false;

        new Vue({
            el:"#root",
            data:{
                persons:[
                    {id:"001", name:"张三", age:18},
                    {id:"002", name:"李四", age:19},
                    {id:"003", name:"王五", age:20}
                ],
                cars:{
                    name:"奥迪",
                    price:"70w",
                    color:"black"
                },
                str:"hello"
            }
        })
    </script>
</body>
</html>